/* font source file */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@200&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');



/* common css */


/* fonts */
body{
    font-family: 'Poppins', sans-serif;
}


/* icons */
.fas{
    color: #0d6efd;
    background-color: rgb(242, 246, 253);
    border-radius: 7px;
}




/* comstum card */
#bluecard{
    
    height: 480px;
    width: 100%; 
    border-radius: 18px;
}



/* footer section */
footer{
    background-color: #0B0D17;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* finish */


